body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}


main {

    background-color: #f4f4f4;


}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #0C0C0C;
    color: white;
    position: relative;
    border-bottom: solid 1px white;
    height: 90px; 
    z-index: 20;
}


.menu {
    color:#fff;
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    z-index: 21;
    margin-left: 30px; 
    height: 100%;
    width: 100%;
}

.menu img {
    
    width: 30px; 
    height: auto; 
    margin: 0; 
    display: block; 
}


.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 82px; 
    width: auto;
}

.side-menu {
    width: 500px;
    height: 100%;
    background-color: #0C0C0C;
    position: fixed;
    top: 0;
    left: -500px;
    transition: 0.3s;
    z-index: 20;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px; 
    padding-bottom: 0px;
    height: 90px ;
    border-bottom: 1px solid #474747;
    position: relative;
    box-sizing: border-box;
    
}

.side-menu.active {
    left: 0;
}

.side-menu ul {
    list-style: none;
    padding: 0;
    width: 100%;
    padding-left: 0px ;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: 350;
}

.side-menu ul li {
    width: 100%;
    border-bottom: 1px solid #474747 ;
    box-sizing: border-box;
    padding: 10px 0;
    text-align: left;  
    padding-left: 40px;
}




.close-btn-container {
    font-size: 30px;
    position: absolute;
    top: 0; 
    right: 0; 
    width: 80px; 
    height: 80px; 
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: transparent; 
}

.close-btn {
    font-size: 32px; 
    font-weight: 100;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center; 
    justify-content: center; 
    transition: transform 0.2s ; 
    width: auto; 
    height: auto; 
    transform-origin: center; 
}

.close-btn:hover {
    transform: rotate(360deg);
}

.menu-link {
    text-decoration: none; 
    color: #fff;
    font-size: 18px;
    padding: 10px 0; 
    display: inline-block; 
    position: relative; 
}


.menu-link::after {
    content: '';
    position: absolute;
    bottom: 4px; 
    left: 50%; 
    transform: translateX(-50%) scaleX(0); 
    transform-origin: center; 
    width: 100%; 
    height: 1px; 
    background-color: #fff; 
    transition: transform 0.3s ease-in-out; 
}


.menu-link:hover::after {
    transform: translateX(-50%) scaleX(1); 
}

.menu-logo {
    display: flex;
    align-items: center; 
    height: 100%; 
    margin-left: -20px;
}

.menu-logo img {
    width: 148px; 
    height: auto;
    padding-left: 30px;
    margin: 0; 
}

.footer-text {
    position: absolute;
    bottom: 20px; 
    right: 20px; 
    color: #fff;  
    font-size: 12px; 
    font-weight: 200;
}



#trou_noir {
    position: relative;
    z-index: 5;
}

#trou_noir video {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}


.what-is-entropia {
    display: flex;
    justify-content: center; 
    align-items: flex-start;    
    background-color: #f4f4f4; 
    height: 60vh; 
    box-sizing: border-box;
    padding-left: 10%; 
    padding-right: 10%; 
    padding-top: 10%;
}


.content-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    max-width: 100%; 
    padding-top: 20px;
}


.title-container {
    display: flex;
    justify-content: flex-start; 
    align-items: center;  
    width: auto; 
    max-width: 45%; 
    height: auto; 
    padding-right: 20px; 
    padding-top: 10px;
}


.title {
    font-size: 5vw; 
    font-weight: bold;
    color: black;
    margin: 0;
}



.description-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 45%; 
    flex-grow: 1; 
    height: 100%; 
    padding-top: 10px; 
    padding-bottom: 10px; 
}


.description {
    font-size: 1vw; 
    color: black;
    max-width: 100%; 
    margin: 0;
    line-height: 1.5; 
}

.description br {
    margin-bottom: 15px;
}


.logos-container {
    display: flex;  
    justify-content: space-evenly;  
    align-items: center;  
    height: 20vh;  
    width: 100vw;  
    padding-bottom: 30px;
    margin-top: 80px;
}


.logo-box {
    background-color: #d3d3d3;  
    display: flex;  
    justify-content: center; 
    align-items: center;  
    width: 25%;  
    padding: 10px 50px; 
    box-sizing: border-box;  
    height: auto;  
    min-height: 200px;  
    border-radius: 40px;  
}


.logo-box img {
    max-width: 100%;  
    max-height: 80%;  
    object-fit: contain;  
}


.separator-bar {
    width: 100%; 
    height: 2px; 
    background-color: #cecece; 
    margin-top: 90px; 
    margin-bottom: 90px;
}


.the_futur-container {
    display: flex;
    justify-content: center; 
    margin-top: 20px;
    margin-bottom: 90px;
}

/* Image elle-même */
.the_futur-container img {
    max-width: 100%; 
    height: auto; 
    width: 82%; 
    max-width: 82%; 
}

.full-width-box {
    width: 100%;
    height: 65%;
    background-color: black;
    color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.text-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 20px; 
    position: relative; 
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title-container h2 {
    font-size: 250%;
    margin-left: 60px;
    margin-bottom: 10px;
    margin-top: 40px;
    line-height: 1; 
}

.divider {
    width: 50px;
    height: 4px;
    background-color: white;
    margin-bottom: 0; 
    margin-left: 60px;
    margin-top: 0;
}

.aiming-text {
    text-align: right;
    font-size: 100%;
    line-height: 1.5;
    max-width: 60%; 
    margin-right: 10%; 
    font-weight: light;
    margin-top: 60px;

}

.box-wrapper {
    flex-grow: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.box-container {
    display: flex;
    justify-content: center; 
    gap: 50px;
}

.centered-box {
    width: 300px; 
    height: 250px; 
    background-color: #414141;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.centered-box i {
    margin-bottom: 20px;  
    font-size: 60px;  
    margin-top: -10px;  
}

.centered-box p {
    margin: 0;
    font-size: 80%;  
    font-weight: normal;
    margin-top: 40px;  
    margin-left: 10px ;
    margin-right: 10px;
}

.bottom_bar {
    width: 100%;  
    height: 1px;  
    background-color: #363636;  
    margin-top: 20px;  
    margin-bottom: 20px;
}





